@using RAHSys.Aplicacao.AppModels;

@model AuditoriaAppModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-green-steel uppercase bold">@ViewBag.SubTitle</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-horizontal margin-bottom-40">
                    <div class="form-group form-md-line-input">
                        @Html.LabelFor(model => model.IdAuditoria, new { @class = "col-md-3 control-label" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.IdAuditoria, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        @Html.LabelFor(model => model.Usuario, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        @Html.LabelFor(model => model.Funcao, new { @class = "col-md-3 control-label" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Funcao, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        @Html.LabelFor(model => model.Acao, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.Acao, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        @Html.LabelFor(model => model.DataHora, new { @class = "col-md-3 control-label" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.DataHora, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                        @Html.LabelFor(model => model.EnderecoIP, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.EditorFor(model => model.EnderecoIP, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        @Html.LabelFor(model => model.Dados, new { @class = "col-md-3 control-label" })
                        <div class="col-md-8">
                            @Html.Raw(Html.Encode(Model.Dados).Replace("\n", "<br />"))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Voltar", "Index", "Auditoria", null, new { @class = "btn yellow-haze btn-outline btn-circle btn-md" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
