@model RAHSys.Aplicacao.AppModels.EquipeAppModel
@{
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">@ViewBag.SubTitle</h4>
</div>
@using (Html.BeginForm("Excluir", "Equipe", FormMethod.Post, new { @class = "form-horizontal margin-bottom-40" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdEquipe)
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-body">
                        <div class="form-group form-md-line-input">
                            <div class="col-md-12">
                                Tem certeza que deseja excluir a equipe do líder:
                                <br />
                                <strong>@Model.Lider.EmailEUserName</strong>
                            </div>
                            <div class="col-md-12">
                                Com o integrantes:
                                <br />
                                <strong>
                                    @Html.Raw(Model.ObterEquipe())
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn red-flamingo btn-circle btn-md">Excluir</button>
                <button type="button" class="btn yellow-haze btn-outline btn-circle btn-md" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
}

