@model RAHSys.Apresentacao.Models.ContratoAdicionarModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-green-steel uppercase bold">@ViewBag.SubTitle</span>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("Adicionar", "Contrato", FormMethod.Post, new { @class = "form-horizontal margin-bottom-40" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group form-md-line-input">
                        @Html.LabelFor(model => model.Contrato.NomeEmpresa, new { @class = "col-md-2 control-label" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Contrato.NomeEmpresa, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome da Empresa", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Contrato.NomeEmpresa, "", new { @class = "text-danger" })
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        @Html.LabelFor(m => m.Contrato.ContatoInicial, new { @class = "col-md-2 control-label" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Contrato.ContatoInicial, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contato inicial de venda", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Contrato.ContatoInicial, "", new { @class = "text-danger" })
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <div class="col-md-2 control-label">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart font-dark hide"></i>
                                <span class="caption-subject font-green-steel uppercase bold">Endereço</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        @Html.LabelFor(m => m.Contrato.ContratoEndereco.Endereco.Logradouro, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Contrato.ContratoEndereco.Endereco.Logradouro, new { htmlAttributes = new { @class = "form-control", @placeholder = "Logradouro" } })
                            @Html.ValidationMessageFor(model => model.Contrato.ContratoEndereco.Endereco.Logradouro, "", new { @class = "text-danger" })
                            <div class="form-control-focus"> </div>
                        </div>
                        @Html.LabelFor(m => m.Contrato.ContratoEndereco.Endereco.Numero, new { @class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Contrato.ContratoEndereco.Endereco.Numero, new { htmlAttributes = new { @class = "form-control", @placeholder = "Número" } })
                            @Html.ValidationMessageFor(model => model.Contrato.ContratoEndereco.Endereco.Numero, "", new { @class = "text-danger" })
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        @Html.LabelFor(m => m.Contrato.ContratoEndereco.Endereco.Bairro, new { @class = "col-md-2 control-label" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Contrato.ContratoEndereco.Endereco.Bairro, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bairro" } })
                            @Html.ValidationMessageFor(model => model.Contrato.ContratoEndereco.Endereco.Bairro, "", new { @class = "text-danger" })
                            <div class="form-control-focus"> </div>
                        </div>
                        @Html.LabelFor(m => m.Contrato.ContratoEndereco.Endereco.CEP, new { @class = "col-md-2 control-label" })
                        <div class="col-md-2">
                            @Html.EditorFor(model => model.Contrato.ContratoEndereco.Endereco.CEP, new { htmlAttributes = new { @class = "form-control", @placeholder = "CEP" } })
                            @Html.ValidationMessageFor(model => model.Contrato.ContratoEndereco.Endereco.CEP, "", new { @class = "text-danger" })
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        @Html.LabelFor(m => m.Contrato.ContratoEndereco.Endereco.IdCidade, new { @class = "col-md-2 control-label" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Contrato.ContratoEndereco.Endereco.IdCidade, new SelectList(Model.Cidades, "IdCidade", "Nome"), new { @class = "form-control", @placeholder = "Cidade", @required = "required", @id = "ddlCidades" })
                            @Html.ValidationMessageFor(model => model.Contrato.ContratoEndereco.Endereco.IdCidade, "", new { @class = "text-danger" })
                            <div class="form-control-focus"> </div>
                        </div>
                        @Html.Label("Estado", new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(m => m.Contrato.ContratoEndereco.Endereco.Cidade.IdEstado, new SelectList(Model.Estados, "IdEstado", "Descricao "), new { @class = "form-control", @placeholder = "Estado", @onchange = "buscarCidades(this.value)" })
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn blue btn-circle">Salvar</button>
                            @Html.ActionLink("Limpar", "Adicionar", "Contrato", null, new { @class = "btn btn-white btn-outline btn-circle btn-md" })
                            @Html.ActionLink("Cancelar", "Index", "Contrato", null, new { @class = "btn yellow-haze btn-outline btn-circle btn-md" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@Url.Action("ObterCidadesPorEstado", "Contrato")" id="consultaCidades" />
@section scripts{
    @Scripts.Render("~/BuscarCidades/js")
}