@using RAHSys.Extras.Enums;
@using PagedList.Mvc;

@model RAHSys.Apresentacao.Models.ContratoIndexModel
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-green-steel uppercase bold">Buscar</span>
                </div>
                <div class="actions">
                    @Html.ActionLink("Adicionar", "Adicionar", "Contrato", null, new { @class = "btn btn-no-border green btn-outline btn-circle btn-md" })
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("Index", "Contrato", FormMethod.Get, new { @id = "form-busca" }))
                {
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("codigo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Código", @type = "number" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("nomeEmpresa", new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome da Empresa" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("receita", new { htmlAttributes = new { @class = "form-control", @placeholder = "Receita", @type = "number", @min = "0", @step = "0.000001" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("cidade", new { htmlAttributes = new { @class = "form-control", @placeholder = "Cidade" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input has-success">
                                @Html.DropDownList("estado", new SelectList(Model.Estados, "IdEstado", "Sigla"), "Estado", new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input has-success">
                                @Html.DropDownList("itensPagina", EnumHelper.GetSelectList(typeof(ItensPorPaginaEnum)), "Itens Por Página", new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        @Html.Hidden("ordenacao", (string)ViewBag.Ordenacao)
                        @Html.Hidden("crescente", (bool)ViewBag.Crescente)
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input ">
                                <button type="submit" class="btn blue btn-circle">Buscar</button>
                                @Html.ActionLink("Limpar", "Index", "Contrato", null, new { @class = "btn btn-white btn-outline btn-circle btn-md" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-green-steel uppercase bold">Dados</span>
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.Dados.Count > 0)
                {
                    <div class="table-scrollable">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th onclick="ordenar('')">
                                        <a>
                                            #
                                        </a>
                                    </th>
                                    <th onclick="ordenar('NomeEmpresa')">
                                        <a>
                                            Nome da Empresa
                                        </a>
                                    </th>
                                    <th onclick="ordenar('Receita')">
                                        <a>
                                            Receita
                                        </a>
                                    </th>
                                    <th onclick="ordenar('Cidade')">
                                        <a>
                                            Cidade
                                        </a>
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Pagamento
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Dados)
                                {
                                    <tr>
                                        <td>
                                            @item.IdContrato
                                        </td>
                                        <td>
                                            @item.NomeEmpresa
                                        </td>
                                        <td>
                                            @item.CalcularReceita().ToString("0.######")
                                        </td>
                                        <td>
                                            @item.ContratoEndereco.Endereco.Cidade.Nome/@item.ContratoEndereco.Endereco.Cidade.Estado.Sigla
                                        </td>
                                        <td>
                                            @{
                                                var situacao = item.ObterSituacaoContrato();
                                            }
                                            <span class="@situacao.Classe">
                                                <strong>@situacao.Nome.ToUpper()</strong>
                                            </span>
                                        </td>
                                        <td>
                                            @{
                                                var situacaoPagamento = item.ObterSituacaoPagamento();
                                            }
                                            <label class="btn @situacaoPagamento.Classe btn-circle btn-md tooltips" data-container="body" data-placement="top" data-original-title="@situacaoPagamento.Nome">
                                                <i></i>
                                            </label>
                                            @Html.ActionLink("Visualizar", "Index", "Pagamento", new { id = item.IdContrato }, new { @class = "btn grey-gallery btn-outline btn-circle btn-md" })
                                        </td>
                                        <td class="text-right">
                                            @Html.ActionLink("Alterar", "Editar", "Contrato", new { id = item.IdContrato }, new { @class = "btn grey-gallery btn-outline btn-circle btn-md" })
                                            @Html.ActionLink("Excluir", "Excluir", "Contrato", new { id = item.IdContrato }, new { @class = "btn red-flamingo btn-circle btn-md abrirModal" })
                                        </td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="italic bold">
                                @Model.Dados.FirstItemOnPage a @Model.Dados.LastItemOnPage de @Model.Dados.TotalItemCount registros
                            </span>
                            <div class="text-center">
                                @Html.PagedListPager(Model.Dados,
                               pagina => Url.Action("Index", "Contrato", new
                               {
                                   pagina,
                                   codigo = ViewBag.Codigo,
                                   nomeEmpresa = ViewBag.NomeEmpresa,
                                   receita = ViewBag.Receita,
                                   cidade = ViewBag.Cidade,
                                   estado = ViewBag.Estado,
                                   itensPagina = ViewBag.ItensPagina,
                                   ordenacao = ViewBag.Ordenacao,
                                   crescente = ViewBag.Crescente
                               }))
                            </div>
                        </div>
                    </div>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="alert alert-info">
                                                                <h5 class="text-center">
                                                                    Não foram encontrados resultados
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Ordenacao/js")
    @Scripts.Render("~/Modal/js")
}