@using RAHSys.Aplicacao.AppModels;
@using RAHSys.Extras.Enums;
@using PagedList.Mvc;

@model  RAHSys.Apresentacao.Models.AtividadeContratoModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-green-steel uppercase bold">Contrato</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body portlet-collapsed">
                @{Html.RenderPartial("_ContratoInfo", Model.Contrato);}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-green-steel uppercase bold">Equipe</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="expand"> </a>
                </div>
            </div>
            <div class="portlet-body portlet-collapsed">
                @{Html.RenderPartial("_EquipeInfo", Model.Equipe);}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-green-steel uppercase bold">@ViewBag.SubSubTitle</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
                <div class="actions">
                    @Html.ActionLink("Adicionar", "AdicionarAtividade", "Contrato", new { id = Model.Contrato.IdContrato }, new { @class = "btn btn-no-border green btn-outline btn-circle btn-md" })
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("Contrato", "Atividade", FormMethod.Get, new { @id = "form-busca" }))
                {
                    @Html.Hidden("contrato", Model.Contrato.IdContrato)
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("codigo", new { htmlAttributes = new { @class = "form-control", @placeholder = "Código", @type = "number" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("tipoAtividade", new { htmlAttributes = new { @class = "form-control", @placeholder = "Tipo de Atividade" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("usuario", new { htmlAttributes = new { @class = "form-control", @placeholder = "Atribuido Para" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input has-success">
                                @Html.DropDownList("realizada", EnumHelper.GetSelectList(typeof(SimOuNaoEnum)), "Realizada", new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("dataRealizacaoInicio", new { htmlAttributes = new { @class = "form-control dataAtividade", @placeholder = "Data de Realização Início" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("dataRealizacaoFim", new { htmlAttributes = new { @class = "form-control dataAtividade", @placeholder = "Data de Realização Fim" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("dataPrevistaInicio", new { htmlAttributes = new { @class = "form-control dataAtividade", @placeholder = "Data de Realização Prevista Início" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input has-success">
                                @Html.Editor("dataPrevistaFim", new { htmlAttributes = new { @class = "form-control dataAtividade", @placeholder = "Data de Realização Prevista Fim" } })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group form-md-line-input has-success">
                                @Html.DropDownList("itensPagina", EnumHelper.GetSelectList(typeof(ItensPorPaginaEnum)), "Itens Por Página", new { @class = "form-control" })
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                        @Html.Hidden("ordenacao", (string)ViewBag.Ordenacao)
                        @Html.Hidden("crescente", (bool)ViewBag.Crescente)
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input ">
                                <button type="submit" class="btn blue btn-circle">Buscar</button>
                                @Html.ActionLink("Limpar", "Contrato", "Atividade", new { id = Model.Contrato.IdContrato }, new { @class = "btn btn-white btn-outline btn-circle btn-md" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-green-steel uppercase bold">Dados</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.Atividades.Count > 0)
                {
                    <div class="table-scrollable">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th onclick="ordenar('')">
                                        <a>
                                            #
                                        </a>
                                    </th>
                                    <th onclick="ordenar('TipoAtividade')">
                                        <a>
                                            Tipo de Atividade
                                        </a>
                                    </th>
                                    <th onclick="ordenar('AtribuidoPara')">
                                        <a>
                                            Atribuido Para
                                        </a>
                                    </th>
                                    <th onclick="ordenar('DataRealizacaoPrevista')">
                                        <a>
                                            Data de Realização Prevista
                                        </a>
                                    </th>
                                    <th onclick="ordenar('DataRealizacao')">
                                        <a>
                                            Data de Realização
                                        </a>
                                    </th>
                                    <th onclick="ordenar('Realizada')">
                                        <a>
                                            Tarefa Realizada
                                        </a>
                                    </th>
                                    <th>
                                        Descrição
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Atividades)
                                {
                                    <tr>
                                        <td>
                                            @item.IdAtividade
                                        </td>
                                        <td>
                                            @item.TipoAtividade.Descricao
                                        </td>
                                        <td>
                                            @(item.Usuario?.EmailEUserName)
                                        </td>
                                        <td>
                                            @{
                                                DateTime data = DateTime.Now;
                                            }
                                            @if (item.DataPrevista != null)
                                            {
                                                data = (DateTime)item.DataPrevista;
                                                @data.ToString("dd/MM/yyyy")
                                            }
                                        </td>
                                        <td>
                                            @if (item.DataRealizacao != null)
                                            {
                                                data = (DateTime)item.DataRealizacao;
                                                @data.ToString("dd/MM/yyyy")
                                            }
                                        </td>
                                        <td>
                                            @(item.Realizada ? "Sim" : "Não")
                                        </td>
                                        <td>
                                            <label class="btn blue btn-outline btn-circle btn-md tooltips" data-container="body" data-placement="top" data-original-title="@item.Descricao">
                                                <i class="fa fa-eye"></i>
                                            </label>
                                        </td>
                                        <td class="text-right">
                                            @Html.ActionLink("Alterar", "EditarAtividade", "Contrato", new { id = item.IdContrato, idAtividade = item.IdAtividade }, new { @class = "btn grey-gallery btn-outline btn-circle btn-md" })
                                            @Html.ActionLink("Excluir", "Excluir", "Atividade", new { id = item.IdAtividade }, new { @class = "btn red-flamingo btn-circle btn-md abrirModal" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <span class="italic bold">
                                @Model.Atividades.FirstItemOnPage a @Model.Atividades.LastItemOnPage de @Model.Atividades.TotalItemCount registros
                            </span>
                            <div class="text-center">
                                @Html.PagedListPager(Model.Atividades,
                               pagina => Url.Action("Contrato", "Atividade", new
                               {
                                   id = Model.Contrato.IdContrato,
                                   pagina,
                                   TipoAtividade = ViewBag.TipoAtividade,
                                   dataRealizacaoInicio = ViewBag.DataRealizacaoInicio,
                                   dataRealizacaoFim = ViewBag.DataRealizacaoFim,
                                   dataPrevistaInicio = ViewBag.DataPrevistaInicio,
                                   dataPrevistaFim= ViewBag.DataPrevistaFim,
                                   realizada = ViewBag.Realizada,
                                   itensPagina = ViewBag.ItensPagina,
                                   ordenacao = ViewBag.Ordenacao,
                                   crescente= ViewBag.Crescente
                               }))
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info">
                                <h5 class="text-center">
                                    Não foram encontrados resultados
                                </h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Ordenacao/js")
    @Scripts.Render("~/Modal/js")
}