@using RAHSys.Apresentacao.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Entrar";
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>RAHSys | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for " name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Mandatory/css")
    @Styles.Render("~/Global/css")
    @Styles.Render("~/Login/css")
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class=" login">
    <div class="logo">
        <a href="index.html">
            <img src="@Url.Content("~/Content/img/logo-big.png")" alt="" />
        </a>
    </div>
    <div class="content">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title">Entrar</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", @placeholder = "Email" })
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", @placeholder = "Senha" })
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-actions">
                <label class="rememberme mt-checkbox mt-checkbox-outline">
                    @Html.CheckBoxFor(m => m.RememberMe) Manter Conectado
                    <span></span>
                </label>
                <button type="submit" class="btn green pull-right"> Entrar </button>
            </div>
            @*<div class="forget-password">
                <h4>Forgot your password ?</h4>
                <p>
                    no worries, click
                    <a href="javascript:;" id="forget-password"> here </a> to reset your password.
                </p>
            </div>*@
        }
        <!-- BEGIN FORGOT PASSWORD FORM -->
        @*<form class="forget-form" action="index.html" method="post">
            <h3>Forget Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn grey-salsa btn-outline"> Back </button>
                <button type="submit" class="btn green pull-right"> Submit </button>
            </div>
        </form>*@
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <!-- END LOGIN -->
    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <script src="../assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/CorePlugins/js")
    @Scripts.Render("~/LoginPageLevel/js")
    @Scripts.Render("~/Global/js")
    @Scripts.Render("~/Login/js")
</body>
</html>